.common{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size:16px;
    outline:0;
    border:none;
    width:24.42%;
    padding:1vh 0vh;
    margin-right:2%;
    composes:white from './color.css'

}
.rounded{
    composes: common;
    border:1px solid white;
    background-color: #6d2f1f;
    border-radius:5px;
}
.rounded:hover{
    background-color:black;
    border:1px solid black;
    color:#ef7c0b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.basic {
    composes: common;
    margin:0px;
    font-weight: bold;
    background-color: inherit;
    composes: body from './color.css';
    font-size:16px;
}
.basic:hover{
    background-color:#ef7c0b;
    color:white;
}
.login {
    composes: common;
    margin:0;
    width:32.95%;
    background-color: grey;
    composes: white from './color.css';
    font-size:16px;
    
}
.login:hover{
    background-color:#ef7c0b;
 
}
.active{
composes: primary from './background.css';
width:32.95%;
outline:none;
padding:1vh 2vw;
text-decoration:none;
border:none;
font-size:16px;
color:white;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.error {
    composes: common;
    composes: danger from './background.css';
}
.success{
    composes: rounded;
    composes: success from './background.css';
}
.disabled{
    composes: rounded;
    composes: mute from './color.css';
    cursor: not-allowed;
}
.fullLength{
    composes: rounded;
    width: 50%;
    padding-left: 20%;
    float: left;

}